
@{
    ViewBag.Title = "NoHayParcelas";
}

<h2>No Hay Parcelas</h2>

@if (Request.UrlReferrer?.Segments[2] == "IngresarVehiculo")
{
    <h5>No hay parcelas disponibles del tamaño de @ViewBag.TipoDeVehiculo o mayores.</h5>
}
else
{
    <h5>No hay parcelas disponibles del tamaño de @ViewBag.TipoDeVehiculo</h5>
}
