<li>@Html.ActionLink("Ingresar Vehiculo", "IngresarVehiculo", "Tickets")</li>
<li>@Html.ActionLink("Retirar Vehiculo", "RetirarVehiculo", "Tickets")</li>
<li>@Html.ActionLink("Abono", "IngresarAbono", "Abonos")</li>
<li>@Html.ActionLink("Cuentas", "Index", "Cuentas")</li>