<li>@Html.ActionLink("Ingresar Vehiculo", "IngresarVehiculo", "Tickets")</li>
<li>@Html.ActionLink("Retirar Vehiculo", "RetirarVehiculo", "Tickets")</li>
<li>@Html.ActionLink("Re-Imprimir Ticket", "ReImprimirTicket", "Tickets")</li>